body{
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 310px;
}

form > label{
    font-size: 20px;
}

form > input{
    height: 20px;
    margin: 10px;
}

form > textarea{
    height: 200px;
    margin: 10px;
}

button{
    border: none;
    background-color: coral;
    color: whitesmoke;
    font-size: 20px;

}
.recipe{
    background-color: orange;
    margin: auto;
    padding: 10px;
    width: 200px;
    height: 300px;
}

#recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#link{
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
}

#back,#add{
    margin: 5px;
}
