<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Shopping List</title>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <!--<script src='https://unpkg.com/vue@next'></script>-->
</head>

<body>
    <h1>
        Shopping List
    </h1>

    <div id='app' v-cloak>
        <label>Quantity:
            <input type='text' v-model='quantity' v-on:keyup.enter='submitItem'>
        </label>
        <label>Item:
            <input type='text' v-model='item' v-on:keyup.enter='submitItem'>
        </label>
        <button v-on:click='submitItem'>
            Add
        </button>
        <div v-if='list.length == 0'>
            <p>
                You have no items in your list.
            </p>
        </div>
        <div v-else>
            <p>
                Items: {{ list.length}}
            </p>
            <ul>
                <li v-for='newItem in list'>{{ newItem.quantity }} x {{ newItem.item }}</li>
            </ul>
        </div>
        <div v-if='true'>A</div>

        <div v-if='false'>B</div>

        <div v-show='true'>C</div>

        <div v-show='false'>D</div>
    </div>
    <script src="/scripts.js" defer></script>
</body>

</html>